<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Me</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>A B O U T</h1>
        </div>
    </header>
    <main>
        <section id="about">
            <div class="container">
                <h3 class="about-heading">About Me</h3>
                <p>Saya adalah alumni dari jurusan Teknik Komputer dan Jaringan (TKJ) di SMK Alkautsar Muncang. Saya memiliki minat dalam bidang teknologi,keamanan siber,dan pengembangan perangkat lunak. Selama masa studi,saya banyak tidur di kelas,bolos,tidur,bolos dan tidur lagi. tapi saya tidak pernah menyerah  dan saya tidak akan pernah putus asa sayapun langsung pulang kerumah dan tidur lagi. enggk enggk becanda... nah dirumah sayapun belajar secara otodidak, belajar tentang jaringan komputer, keamanan, dan sedikit belajar hacking. Saya sangat antusias untuk terus belajar dan berkembang dalam dunia teknologi.</p>
            </div>
        </section>
    </main>
    <script src="script.js"></script>
</body>
</html>



