<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak - Saya</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Kontak Saya</h1>
        <p>Jika ingin menghubungi saya, bisa melalui media sosial berikut:</p>
    </header>

    <main>
        <section id="contact">
            <h2>Hubungi Saya</h2>
            <div class="contact-item">
                <a href="https://wa.me/6285603295443" class="whatsapp">
                    <img src="whatsapp-logo.png" alt="WhatsApp" class="icon"> +6285603295443
                </a>
            </div>
            <div class="contact-item">
                <a href="https://www.instagram.com/ra.szzzz" class="instagram" target="_blank">
                    <img src="Instagram-logo.png" alt="Instagram" class="icon"> @ra.szzzz
                </a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Bersama Bankai</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
